html {
  height: 100vh;
}
body {
  background: radial-gradient(
    circle,
    #1c1c1f 0%,
    #31313c 100%
  );
  height: 80%;
  font-family: 'Poor Story';
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 0;
  justify-content: center;
}

.subtab {
  width: 6rem;
  height: 2rem;
  text-align: center;
  color: gray;
}

.active {
  font-size: large;
  color: white  !important;
}

#tab_button_support.active{
  background: url("data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'rgba(84, 112,198, 1)\' stroke=\'\' viewBox=\'0 0 17 20\' %3e%3cpath d=\'M9.83 16.5l.02.27c.04.4.13.78.24 1.13.15.43.35.78.6 1.02a.6.6 0 010 .87.64.64 0 01-.9 0c-.4-.4-.69-.9-.89-1.5a6.56 6.56 0 01-.33-1.68H8.5a8.4 8.4 0 01-8.5-8.3 8.4 8.4 0 018.5-8.32 8.4 8.4 0 018.5 8.31c0 4.14-3.1 7.58-7.16 8.2zM8.49 1.1a7.28 7.28 0 00-7.36 7.2c0 3.97 3.3 7.2 7.36 7.2a7.28 7.28 0 007.36-7.2c0-3.97-3.3-7.2-7.36-7.2zm2.69 8.35a.3.3 0 00-.09.27l.47 2.69c.05.25-.22.44-.45.32l-2.48-1.27a.32.32 0 00-.29 0l-2.47 1.27c-.23.12-.5-.07-.46-.32l.47-2.7a.3.3 0 00-.09-.27l-2-1.9A.3.3 0 013.97 7l2.76-.39c.1-.01.2-.08.24-.17L8.2 4a.32.32 0 01.56 0l1.24 2.45c.04.1.13.16.23.17l2.77.4a.3.3 0 01.17.52l-2 1.9z\'/%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_balloon.active{
  background: url("data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'rgba(84, 112,198, 1)\' stroke=\'\' viewBox=\'0 0 17 20\' %3e%3cpath d=\'M9.83 16.5l.02.27c.04.4.13.78.24 1.13.15.43.35.78.6 1.02a.6.6 0 010 .87.64.64 0 01-.9 0c-.4-.4-.69-.9-.89-1.5a6.56 6.56 0 01-.33-1.68H8.5a8.4 8.4 0 01-8.5-8.3 8.4 8.4 0 018.5-8.32 8.4 8.4 0 018.5 8.31c0 4.14-3.1 7.58-7.16 8.2zM8.49 1.1a7.28 7.28 0 00-7.36 7.2c0 3.97 3.3 7.2 7.36 7.2a7.28 7.28 0 007.36-7.2c0-3.97-3.3-7.2-7.36-7.2zm2.69 8.35a.3.3 0 00-.09.27l.47 2.69c.05.25-.22.44-.45.32l-2.48-1.27a.32.32 0 00-.29 0l-2.47 1.27c-.23.12-.5-.07-.46-.32l.47-2.7a.3.3 0 00-.09-.27l-2-1.9A.3.3 0 013.97 7l2.76-.39c.1-.01.2-.08.24-.17L8.2 4a.32.32 0 01.56 0l1.24 2.45c.04.1.13.16.23.17l2.77.4a.3.3 0 01.17.52l-2 1.9z\'/%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_adballoon.active {
  background: url("data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'rgba(84, 112,198, 1)\' stroke=\'\'  viewBox=\'0 0 17 19\' %3e%3cpath d=\'M1.61 3.53A8.3 8.3 0 018.5 0C13.2 0 17 3.84 17 8.57c0 3.53-2.12 6.61-5.22 7.92l.06.09c.1.14.16.27.22.4.05.13.1.25.11.39.05.32 0 .66-.25.98-.49.62-1.02.66-3.11.66-2.06 0-3.1-.07-3.6-.5a1.21 1.21 0 01-.4-1.12c.02-.16.06-.28.11-.41a2.97 2.97 0 01.29-.49 8.58 8.58 0 01-3.6-12.96zm14.27 5.03c0-4.12-3.3-7.46-7.38-7.46-4.05 0-5.95 3.04-5.95 3.04a7.47 7.47 0 00-1.43 4.42c0 3.66 2.6 6.7 6.04 7.33-.33.6-1.27 1.7-1.15 1.82.13.1 1.53.19 2.81.19 1.07 0 2.06-.06 2.17-.2.11-.13-.8-1.22-1.13-1.8a7.44 7.44 0 006.02-7.34zm-11.2 2.58c-.08.18-.2.3-.37.35a.64.64 0 01-.77-.32.57.57 0 01-.02-.51l1.66-4.42a.9.9 0 01.83-.59c.19 0 .36.06.51.18.15.1.26.25.31.41l1.66 4.41c.07.19.07.36-.02.52a.69.69 0 01-.33.3.64.64 0 01-.44.02c-.17-.04-.29-.17-.36-.36l-.37-.98H5.04l-.37.99zm1.85-2.17L6 7.57l-.53 1.4h1.05zm3 2.51a.6.6 0 01-.46-.18.64.64 0 01-.16-.46v-4.5c0-.2.05-.35.16-.46a.6.6 0 01.46-.18h1.45a2.43 2.43 0 012.36 1.73c.13.36.19.74.19 1.16 0 .41-.06.8-.19 1.15-.11.34-.29.65-.52.92a2.33 2.33 0 01-1.84.82H9.53zm1.4-1.18c.2 0 .38-.04.54-.12.16-.07.3-.18.43-.33.13-.16.22-.34.28-.54.07-.21.1-.46.1-.72 0-.27-.03-.52-.1-.73-.05-.2-.15-.38-.28-.54a1.22 1.22 0 00-.96-.44h-.8v3.42h.8z\'/%3e%3c/svg%3e ") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_battleMission.active {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill=\'rgba(84, 112,198, 1)\' stroke=\'\'  viewBox='0 3 30 25' %3e%3cpath d='M28.414,24l-3-3l2.293-2.293l-1.414-1.414l-2.236,2.236l-3.588-4.186L25,11.46V6h-5.46L16,10.13  L12.46,6H7v5.46l4.531,3.884l-3.588,4.186l-2.236-2.236l-1.414,1.414L6.586,21l-3,3L7,27.414l3-3l2.293,2.293l1.414-1.414  l-2.237-2.237L16,19.174l4.53,3.882l-2.237,2.237l1.414,1.414L22,24.414l3,3L28.414,24z M6.414,24L8,22.414L8.586,23L7,24.586  L6.414,24z M9,10.54V8h2.54l3.143,3.667l-1.85,2.159L9,10.54z M20.46,8H23v2.54L10.053,21.638l-0.69-0.69L20.46,8z M18.95,16.645  l3.688,4.302l-0.69,0.69l-4.411-3.781L18.95,16.645z M25,24.586L23.414,23L24,22.414L25.586,24L25,24.586z' /%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_challengeMission.active{
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill=\'rgba(84, 112,198, 1)\' viewBox='0 -15 512 512' %3e%3cpath d='M477.604,261.355c-6.862-48.022-36.213-192.083-65.118-206.54c-2.605-1.302-6.609-3.484-11.663-6.23    C340.186,15.624,280.307-12.401,253.229,5.676c-20.993,14-39.012,46.582-41.908,75.794c-1.681,16.974,1.963,30.474,10.535,39.046    c18.787,18.797,81.533,11.002,114.607,5.292c-2.216,10.461-6.988,28.218-17.29,53.959c-16.532,41.33-7.62,106.03-2.838,133.399    h-21.479c-16.698-34.833-39.722-52.755-68.5-58.48c-56.798-11.342-116.59,36.087-130.614,48.527H59.704    c-5.501,0-9.952,4.456-9.952,9.952c0,5.496,4.451,9.952,9.952,9.952h39.809c2.498,0,4.908-1.263,6.745-2.955    c0.612-0.569,62.63-57.128,116.259-46.427c23.802,4.751,42.997,22.851,57.051,53.31c1.633,3.528,5.161,6.023,9.039,6.023h39.809    c3.023,0,5.87-1.691,7.766-4.048c1.885-2.352,2.604-5.597,1.953-8.543c-0.194-0.865-19.03-87.187-0.476-133.557    c20.031-50.097,20.614-71.168,20.614-73.403c0-2.979-1.341-5.828-3.645-7.718c-2.294-1.885-5.326-2.653-8.261-2.07    c-45.349,9.053-100.475,12.664-110.438,2.716c-4.092-4.092-5.841-12.482-4.801-23.017c2.323-23.471,16.882-50.355,33.142-61.192    c13.85-9.233,56.604,5.539,127.047,43.836c5.316,2.887,9.525,5.175,12.168,6.492c13.617,8.606,43.104,112.464,54.407,191.606    c8.426,58.96,2.206,148.546,0.399,171.39c-34.094,16.911-245.465,113.82-413.176,7.878c-4.655-2.921-10.788-1.541-13.733,3.1    c-2.935,4.65-1.545,10.798,3.1,13.733c61.055,38.555,127.349,51.73,189.473,51.725c133.044-0.005,246.874-60.443,248.536-61.342    c2.925-1.589,4.869-4.534,5.17-7.853C478.07,438.291,487.604,331.371,477.604,261.355z' /%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_chatting.active {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill=\'rgba(84, 112,198, 1)\' width='40' height='40'%3e%3cpath d='M10.265 17.474a7.73 7.73 0 0 0-.174 1.582c0 4.526 3.926 8.281 9.093 9.05-1.314.756-2.922 1.18-4.653 1.12a9.12 9.12 0 0 1-1.48-.172L9.83 31l.245-3.135c-1.921-1.237-3.14-3.188-3.072-5.348.066-2.109 1.347-3.933 3.262-5.043zM21.955 9C28.055 9 33 13.12 33 18.203c0 3.085-1.828 5.809-4.625 7.478l.208 4.486-4.509-2.935c-.686.11-1.393.173-2.119.173-6.1 0-11.045-4.12-11.045-9.202C10.91 13.12 15.856 9 21.955 9zm-4.075 8.381a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm4.16 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm4.16 0a1 1 0 1 0-.001 1.999 1 1 0 0 0 .001-1.999z' /%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_viewTime.active {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  fill=\'rgba(84, 112,198, 1)\' stroke=\'\'  viewBox=\'0 0 17 19\' %3e%3cpath d='M7.5 11.5c3.634-.001 6 2.74 6 6.5a.5.5 0 1 1-1 0c0-3.238-1.954-5.5-5-5.5-3.047 0-5 2.263-5 5.5a.5.5 0 1 1-1 0c0-3.76 2.366-6.499 6-6.5zm.1-7c-.823 0-1.612.326-2.19.907A3.087 3.087 0 0 0 4.5 7.6c-.002.821.326 1.61.91 2.194.578.58 1.367.906 2.19.906s1.612-.326 2.19-.907c.578-.575.91-1.358.91-2.193 0-.833-.332-1.617-.91-2.194A3.09 3.09 0 0 0 7.6 4.5zm0 1a2.09 2.09 0 0 1 1.483.613 2.097 2.097 0 0 1 0 2.973A2.093 2.093 0 0 1 7.6 9.7a2.094 2.094 0 0 1-1.482-.612A2.093 2.093 0 0 1 5.5 7.6c0-.567.224-1.096.617-1.487A2.093 2.093 0 0 1 7.6 5.5zm12.4 2a.5.5 0 0 1 .09.992L20 8.5h-7a.5.5 0 0 1-.09-.992L13 7.5h7zm0 4a.5.5 0 0 1 .09.992L20 12.5h-5a.5.5 0 0 1-.09-.992L15 11.5h5zm0 4a.5.5 0 0 1 .09.992L20 16.5h-4a.5.5 0 0 1-.09-.992L16 15.5h4z' /%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab div div{
  padding-top: 2.6rem;
}


#tab_button_support {
  background: url("data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'rgba(104,110,124,0.999)\' stroke=\'\' viewBox=\'0 0 17 20\' %3e%3cpath d=\'M9.83 16.5l.02.27c.04.4.13.78.24 1.13.15.43.35.78.6 1.02a.6.6 0 010 .87.64.64 0 01-.9 0c-.4-.4-.69-.9-.89-1.5a6.56 6.56 0 01-.33-1.68H8.5a8.4 8.4 0 01-8.5-8.3 8.4 8.4 0 018.5-8.32 8.4 8.4 0 018.5 8.31c0 4.14-3.1 7.58-7.16 8.2zM8.49 1.1a7.28 7.28 0 00-7.36 7.2c0 3.97 3.3 7.2 7.36 7.2a7.28 7.28 0 007.36-7.2c0-3.97-3.3-7.2-7.36-7.2zm2.69 8.35a.3.3 0 00-.09.27l.47 2.69c.05.25-.22.44-.45.32l-2.48-1.27a.32.32 0 00-.29 0l-2.47 1.27c-.23.12-.5-.07-.46-.32l.47-2.7a.3.3 0 00-.09-.27l-2-1.9A.3.3 0 013.97 7l2.76-.39c.1-.01.2-.08.24-.17L8.2 4a.32.32 0 01.56 0l1.24 2.45c.04.1.13.16.23.17l2.77.4a.3.3 0 01.17.52l-2 1.9z\'/%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_balloon {
  background: url("data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'rgba(104,110,124,0.999)\' stroke=\'\' viewBox=\'0 0 17 20\' %3e%3cpath d=\'M9.83 16.5l.02.27c.04.4.13.78.24 1.13.15.43.35.78.6 1.02a.6.6 0 010 .87.64.64 0 01-.9 0c-.4-.4-.69-.9-.89-1.5a6.56 6.56 0 01-.33-1.68H8.5a8.4 8.4 0 01-8.5-8.3 8.4 8.4 0 018.5-8.32 8.4 8.4 0 018.5 8.31c0 4.14-3.1 7.58-7.16 8.2zM8.49 1.1a7.28 7.28 0 00-7.36 7.2c0 3.97 3.3 7.2 7.36 7.2a7.28 7.28 0 007.36-7.2c0-3.97-3.3-7.2-7.36-7.2zm2.69 8.35a.3.3 0 00-.09.27l.47 2.69c.05.25-.22.44-.45.32l-2.48-1.27a.32.32 0 00-.29 0l-2.47 1.27c-.23.12-.5-.07-.46-.32l.47-2.7a.3.3 0 00-.09-.27l-2-1.9A.3.3 0 013.97 7l2.76-.39c.1-.01.2-.08.24-.17L8.2 4a.32.32 0 01.56 0l1.24 2.45c.04.1.13.16.23.17l2.77.4a.3.3 0 01.17.52l-2 1.9z\'/%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_adballoon {
  background: url("data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'rgba(104,110,124,0.999)\' stroke=\'\'  viewBox=\'0 0 17 19\' %3e%3cpath d=\'M1.61 3.53A8.3 8.3 0 018.5 0C13.2 0 17 3.84 17 8.57c0 3.53-2.12 6.61-5.22 7.92l.06.09c.1.14.16.27.22.4.05.13.1.25.11.39.05.32 0 .66-.25.98-.49.62-1.02.66-3.11.66-2.06 0-3.1-.07-3.6-.5a1.21 1.21 0 01-.4-1.12c.02-.16.06-.28.11-.41a2.97 2.97 0 01.29-.49 8.58 8.58 0 01-3.6-12.96zm14.27 5.03c0-4.12-3.3-7.46-7.38-7.46-4.05 0-5.95 3.04-5.95 3.04a7.47 7.47 0 00-1.43 4.42c0 3.66 2.6 6.7 6.04 7.33-.33.6-1.27 1.7-1.15 1.82.13.1 1.53.19 2.81.19 1.07 0 2.06-.06 2.17-.2.11-.13-.8-1.22-1.13-1.8a7.44 7.44 0 006.02-7.34zm-11.2 2.58c-.08.18-.2.3-.37.35a.64.64 0 01-.77-.32.57.57 0 01-.02-.51l1.66-4.42a.9.9 0 01.83-.59c.19 0 .36.06.51.18.15.1.26.25.31.41l1.66 4.41c.07.19.07.36-.02.52a.69.69 0 01-.33.3.64.64 0 01-.44.02c-.17-.04-.29-.17-.36-.36l-.37-.98H5.04l-.37.99zm1.85-2.17L6 7.57l-.53 1.4h1.05zm3 2.51a.6.6 0 01-.46-.18.64.64 0 01-.16-.46v-4.5c0-.2.05-.35.16-.46a.6.6 0 01.46-.18h1.45a2.43 2.43 0 012.36 1.73c.13.36.19.74.19 1.16 0 .41-.06.8-.19 1.15-.11.34-.29.65-.52.92a2.33 2.33 0 01-1.84.82H9.53zm1.4-1.18c.2 0 .38-.04.54-.12.16-.07.3-.18.43-.33.13-.16.22-.34.28-.54.07-.21.1-.46.1-.72 0-.27-.03-.52-.1-.73-.05-.2-.15-.38-.28-.54a1.22 1.22 0 00-.96-.44h-.8v3.42h.8z\'/%3e%3c/svg%3e ") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_battleMission{
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill=\'rgba(104,110,124,0.999)\' viewBox='0 3 30 25' %3e%3cpath d='M28.414,24l-3-3l2.293-2.293l-1.414-1.414l-2.236,2.236l-3.588-4.186L25,11.46V6h-5.46L16,10.13  L12.46,6H7v5.46l4.531,3.884l-3.588,4.186l-2.236-2.236l-1.414,1.414L6.586,21l-3,3L7,27.414l3-3l2.293,2.293l1.414-1.414  l-2.237-2.237L16,19.174l4.53,3.882l-2.237,2.237l1.414,1.414L22,24.414l3,3L28.414,24z M6.414,24L8,22.414L8.586,23L7,24.586  L6.414,24z M9,10.54V8h2.54l3.143,3.667l-1.85,2.159L9,10.54z M20.46,8H23v2.54L10.053,21.638l-0.69-0.69L20.46,8z M18.95,16.645  l3.688,4.302l-0.69,0.69l-4.411-3.781L18.95,16.645z M25,24.586L23.414,23L24,22.414L25.586,24L25,24.586z' /%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_challengeMission{
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill=\'rgba(104,110,124,0.999)\' viewBox='0 -15 512 512' %3e%3cpath d='M477.604,261.355c-6.862-48.022-36.213-192.083-65.118-206.54c-2.605-1.302-6.609-3.484-11.663-6.23    C340.186,15.624,280.307-12.401,253.229,5.676c-20.993,14-39.012,46.582-41.908,75.794c-1.681,16.974,1.963,30.474,10.535,39.046    c18.787,18.797,81.533,11.002,114.607,5.292c-2.216,10.461-6.988,28.218-17.29,53.959c-16.532,41.33-7.62,106.03-2.838,133.399    h-21.479c-16.698-34.833-39.722-52.755-68.5-58.48c-56.798-11.342-116.59,36.087-130.614,48.527H59.704    c-5.501,0-9.952,4.456-9.952,9.952c0,5.496,4.451,9.952,9.952,9.952h39.809c2.498,0,4.908-1.263,6.745-2.955    c0.612-0.569,62.63-57.128,116.259-46.427c23.802,4.751,42.997,22.851,57.051,53.31c1.633,3.528,5.161,6.023,9.039,6.023h39.809    c3.023,0,5.87-1.691,7.766-4.048c1.885-2.352,2.604-5.597,1.953-8.543c-0.194-0.865-19.03-87.187-0.476-133.557    c20.031-50.097,20.614-71.168,20.614-73.403c0-2.979-1.341-5.828-3.645-7.718c-2.294-1.885-5.326-2.653-8.261-2.07    c-45.349,9.053-100.475,12.664-110.438,2.716c-4.092-4.092-5.841-12.482-4.801-23.017c2.323-23.471,16.882-50.355,33.142-61.192    c13.85-9.233,56.604,5.539,127.047,43.836c5.316,2.887,9.525,5.175,12.168,6.492c13.617,8.606,43.104,112.464,54.407,191.606    c8.426,58.96,2.206,148.546,0.399,171.39c-34.094,16.911-245.465,113.82-413.176,7.878c-4.655-2.921-10.788-1.541-13.733,3.1    c-2.935,4.65-1.545,10.798,3.1,13.733c61.055,38.555,127.349,51.73,189.473,51.725c133.044-0.005,246.874-60.443,248.536-61.342    c2.925-1.589,4.869-4.534,5.17-7.853C478.07,438.291,487.604,331.371,477.604,261.355z' /%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_chatting {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill=\'rgba(104,110,124,0.999)\' width='40' height='40'%3e%3cpath d='M10.265 17.474a7.73 7.73 0 0 0-.174 1.582c0 4.526 3.926 8.281 9.093 9.05-1.314.756-2.922 1.18-4.653 1.12a9.12 9.12 0 0 1-1.48-.172L9.83 31l.245-3.135c-1.921-1.237-3.14-3.188-3.072-5.348.066-2.109 1.347-3.933 3.262-5.043zM21.955 9C28.055 9 33 13.12 33 18.203c0 3.085-1.828 5.809-4.625 7.478l.208 4.486-4.509-2.935c-.686.11-1.393.173-2.119.173-6.1 0-11.045-4.12-11.045-9.202C10.91 13.12 15.856 9 21.955 9zm-4.075 8.381a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm4.16 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm4.16 0a1 1 0 1 0-.001 1.999 1 1 0 0 0 .001-1.999z' /%3e%3c/svg%3e") 0 0 no-repeat;
  background-position: 50% 0
}

#tab_button_viewTime {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  fill=\'rgba(104,110,124,0.999)\' stroke=\'\'  viewBox=\'0 0 17 19\' %3e%3cpath d='M7.5 11.5c3.634-.001 6 2.74 6 6.5a.5.5 0 1 1-1 0c0-3.238-1.954-5.5-5-5.5-3.047 0-5 2.263-5 5.5a.5.5 0 1 1-1 0c0-3.76 2.366-6.499 6-6.5zm.1-7c-.823 0-1.612.326-2.19.907A3.087 3.087 0 0 0 4.5 7.6c-.002.821.326 1.61.91 2.194.578.58 1.367.906 2.19.906s1.612-.326 2.19-.907c.578-.575.91-1.358.91-2.193 0-.833-.332-1.617-.91-2.194A3.09 3.09 0 0 0 7.6 4.5zm0 1a2.09 2.09 0 0 1 1.483.613 2.097 2.097 0 0 1 0 2.973A2.093 2.093 0 0 1 7.6 9.7a2.094 2.094 0 0 1-1.482-.612A2.093 2.093 0 0 1 5.5 7.6c0-.567.224-1.096.617-1.487A2.093 2.093 0 0 1 7.6 5.5zm12.4 2a.5.5 0 0 1 .09.992L20 8.5h-7a.5.5 0 0 1-.09-.992L13 7.5h7zm0 4a.5.5 0 0 1 .09.992L20 12.5h-5a.5.5 0 0 1-.09-.992L15 11.5h5zm0 4a.5.5 0 0 1 .09.992L20 16.5h-4a.5.5 0 0 1-.09-.992L16 15.5h4z' fill='%23707173'/%3e%3c/svg%3e") no-repeat;
  background-position: 50% 0
}

#table {
  width: 90%;
  margin:auto;
  margin-top: 3rem;
}

.ag-header-cell-label {
  text-align: center;
}

.ag-icon-menu {
  display: none !important;
}

#title {
  color: rgba(245, 245, 245, 0.64);
  width : 80%;
  font-size: 1.7rem;
  margin: 1rem auto 1rem;
  text-align: center;
  font-weight: 400;
}

#titleTip {
  font-size: 1rem;
}

.ag-watermark {
  display: none;
}

#userRank {
  color : rgba(245, 245, 245, 0.64);
  text-align: center;
  font-size: large;
}

#first{
  color: #fff;
  animation: color-change 2s infinite linear;
}

@keyframes color-change {
  0% {
    color: #fff;
  }
  100% {
    color: gold;
  }
}

/* #first:hover {
  color: #f00;
} */
#second{

}
#third{

}

