body {
    display: flex;
}

header .alert {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2rem;
    padding-top: 0.7rem;
    background-color: burlywood;
    text-align: center;
    font-weight: 900;
    display: none;
    animation: flashAnimation 3s ease-in-out forwards;
}

@keyframes flashAnimation {
    0% {
      transform: translateY(-70px);
    }
    20% {
      transform: translateY(0px);
    }
    95% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-70px);
    }
  }

.container {
    display: flex;
    margin: auto;
    margin-top: 6rem;
}


.emoticonContainer.on {
    display: block;
}

.emoticonContainer {
    display: none;
    width: 210px;
    height: 600px;
    border: 1px solid black; 
}

/* 이모티콘 해더 탭 영역 */
.emoticonContainer .emoticonHeader .emoticonTitle {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.emoticonContainer .emoticonHeader .emoticonTap {
    display: flex;
    overflow: auto;
    height: 2rem;
}

.emoticonContainer .emoticonHeader .emoticonTap button{
    height: 100%;
}

.emoticonContainer .emoticonHeader .emoticonTap .on{
    border-bottom: blue solid;
}

/* 이모티콘 리스트 영역 */
.emoticonContainer .emoticonBox {
    width: 100%;
}

.emoticonContainer .emoticonBox .emoticonList{
    padding: 0.5rem;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(6, 30px);
    grid-template-columns: repeat(6, 30px);
    grid-auto-rows: 30px; 
    overflow: auto;
}

.emoticonContainer .emoticonBox .emoticonList .loader{
    margin-left: 3rem;
    margin-top: 13rem;
}

.chatContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 600px;
    border: 1px solid black
}

.chatContainer .input{
    display: flex;
    width: 100%;
}

.chatContainer .output{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 800px;
}

.chatContainer .output span{
    margin-top: 8px;

}

.chatContainer input {
    width: 80%;
}
