header {
  height: 3rem;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

header .container {
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 1240px;
  margin: auto;
}

header .container .fas {
  display: none;
}

header .container .fas:hover {
  cursor: pointer;
}

/* 해더 로고 */
header .container img {
  margin-top: 0.7rem;
  float: left;
}

/* 리스트 데이터 */
header .container .navbar li {
  margin-top: 1rem;
  float: left;
  margin-left: 2rem;
  color: gray;
}

header .container .navbar li:hover {
  cursor: pointer;
  color: black;
}

header .container .login {
  float: right;
}

header .container .login button {
  margin-top: -1rem;
  width: 5rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border: none;
  font-weight: 700;
}

header .container .login button:hover {
  color: white;
  cursor: pointer;
}

header .container .login button:focus {
  outline: none;
}

/* 메인 화면 */
section.main-header .container {
  margin: auto;
  max-width: 1240px;
  padding-left: 5rem;
  padding-right: 5rem;
  height: 500px;
}

section.main-header .container .contents {
  width: 45%;
  float: left;
}

section.main-header .container .contents h1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin-top: 5rem;
}

section.main-header .container .contents h2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: gray;
  font-weight: 500;
}

section.main-header .container .contents button {
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

section.main-header .container .contents button:hover {
  color: white;
  cursor: pointer;
}

section.main-header .container .contents button:focus {
  outline: none;
}

section.main-header .container img {
  float: right;
  margin-right: -10rem;
}

section.main-body {
  background-color: #f0f1f6;
}

section.main-body .input-box {
  margin: auto;
  max-width: 1240px;
  background-color: black;
  background-image: url("../images/bg-shorten-desktop.svg");
  border-radius: 0.5rem;
  height: 8rem;
  /* margin-bottom: -5rem; */
}

section.main-body .input-box .container {
  margin: auto;
  width: 90%;
  padding-top: 2.8rem;
}

section.main-body .input-box .container input {
  height: 2.5rem;
  width: 76%;
  border-radius: 0.5rem;
  border: none;
  margin-right: 1rem;
  float: left;
}

section.main-body .input-box .container button {
  border-radius: 0.5rem;
  width: 17%;
  height: 2.5rem;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border: none;
  font-weight: 700;
  float: right;
}

section.main-body .input-box .container input[type="text"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

section.main-body .output-box {
  margin: auto;
  max-width: 1240px;
  border-radius: 0.5rem;
}

section.main-body .output-box .container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
  font-weight: 900;
}

section.main-body .output-box .container .input-url {
  display: inline-block;
  margin-top: 0.2rem;
  max-width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.main-body .output-box .container .output-url {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  margin-top: 0.2rem;
  text-decoration: none;
  outline: none;
}

section.main-body .output-box .container .output-url a {
  text-decoration: none;
  outline: none;
  color: hsl(180, 66%, 49%);
}

section.main-body .output-box .container .output-url button {
  margin-top: -0.7rem;
  margin-right: 1rem;
  background-color: hsl(180, 66%, 49%);
  outline: none;
  color: white;
  border: none;
  border-radius: 0.3rem;
  width: 4rem;
  height: 2rem;
}

section.main-body .output-box .container .output-url button:hover {
  cursor: pointer;
}

section.main-body .explanation {
  margin-top: 5rem;
  text-align: center;
}

section.main-body .explanation .explanation-header h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

section.main-body .explanation .explanation-header div {
  line-height: 1.5rem;
  font-weight: bold;
  color: gray;
  margin-bottom: 6rem;
}

section.main-body .explanation .explanation-content {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

section.main-body .explanation .explanation-content .explanation-data {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
  width: 20rem;
}

section.main-body .explanation .explanation-content .explanation-img {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-color: indigo;
  margin-top: -3rem;
}

section.main-body .explanation .explanation-content .explanation-img img {
  margin-top: 1rem;
}

section.main-body .explanation .explanation-content .explanation-data h1 {
  font-weight: 900;
  font-size: 1.2rem;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

section.main-body .explanation .explanation-content .explanation-data h3 {
  text-align: left;
  line-height: 1.5rem;
  font-weight: bold;
  color: gray;
  margin-bottom: 3rem;
}

section.main-footer {
  background-image: url("../images/bg-boost-desktop.svg");
  background-color: #3a3053;
  text-align: center;
  height: 10rem;
  padding-top: 3rem;
}

section.main-footer h1 {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

section.main-footer button {
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
}

section.main-footer button:hover {
  color: white;
  cursor: pointer;
}

section.main-footer button:focus {
  outline: none;
}

footer {
  background-color: #232027;
}

footer .footer-body {
  display: flex;
  justify-content: space-around;
  margin: auto;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 1250px;
}

footer .footer-body h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

footer .footer-body h2 {
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
  font-weight: 900;
}

footer .footer-body li {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: gray;
}

footer .footer-body .list {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}

footer .footer-body .img-list img {
  margin-right: 1rem;
}
@media screen and (max-width: 800px) {
  header .container {
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    max-width: 1240px;
  }

  /* header 3-bar button 노출 */
  header .container .fas {
    margin-top: 1rem;
    display: block;
    float: right;
  }

  header .container .navbar {
    display: none;
    background-color: hsl(257, 27%, 26%);
    position: absolute;
    top: 5rem;
    border-radius: 0.5rem;
    width: 88%;
    left: 6%;
    right: 1%;
  }

  /* header 목차 리스트 */
  header .container .navbar li {
    display: block;
    margin-left: 0rem;
    color: white;
    float: unset;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  header .container .login {
    margin: auto;
    border-top: gray 0.1px solid;
    width: 90%;
    float: unset;
  }

  header .container .login button {
    width: 80%;
  }

  section.main-header .container {
    display: block;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5em;
  }

  section.main-header .container .contents {
    width: 100%;
    margin: auto;
  }

  section.main-header .container .contents h1 {
    font-size: 2.7rem;
    font-weight: 900;
    margin-top: 5rem;
  }

  section.main-header .container .contents h2 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  section.main-header .container img {
    width: 100%;
  }

  section.main-body .input-box .container {
    /* margin-top: 25rem; */
    padding-top: 1rem;
  }

  section.main-body .input-box .container input {
    width: 100%;
    float: unset;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  section.main-body .input-box .container button {
    width: 100%;
    height: 2.5rem;
    font-weight: 700;
    float: unset;
  }

  section.main-body .explanation .explanation-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
  }

  section.main-body .explanation .explanation-content .explanation-data {
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
  }

  section.main-body .explanation .explanation-content .explanation-img {
    margin-left: auto;
    margin-right: auto;
  }

  section.main-footer h1 {
    font-size: 1.5rem;
  }
  footer .footer-body {
    flex-direction: column;
    text-align: center;
  }

  footer .footer-body .list {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  section.main-body .output-box .container {
    display: flex;
    flex-direction: column;
  }

  section.main-body .output-box .container .input-url {
    border-bottom: #f0f1f6 solid;
    padding-bottom: 1rem;
  }

  section.main-body .output-box .container .output-url {
    padding-top: 1rem;
    display: flex;
  }
}

@media screen and (max-width: 1330px) {
  section.main-header .container {
    display: block;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5em;
    height: 100%;
  }
  section.main-header .container .contents {
    width: 100%;
    margin: auto;
    float: unset;
  }

  section.main-header .container img {
    float: unset;
    margin-right: 0rem;
  }

  section.main-body .input-box {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  section.main-body .input-box .container {
    /* margin-top: 25rem; */
  }

  section.main-body .output-box .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
