header {
  height: 3rem;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

header .container {
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 1240px;
}

header .container .fas {
  display: none;
}

header .container .fas:hover {
  cursor: pointer;
}

/* 해더 로고 */
header .container img {
  margin-top: 0.7rem;
  float: left;
}

/* 리스트 데이터 */
header .container .navbar li {
  margin-top: 1rem;
  float: left;
  margin-left: 2rem;
  color: gray;
}

header .container .navbar li:hover {
  cursor: pointer;
  color: black;
}

header .container .login {
  float: right;
}

header .container .login button {
  margin-top: -1rem;
  width: 5rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border: none;
  font-weight: 700;
}

header .container .login button:hover {
  color: white;
  cursor: pointer;
}

header .container .login button:focus {
  outline: none;
}

header > div {
  margin: auto;
}

@media screen and (max-width: 800px) {
  header .container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1240px;
  }

  /* header 3-bar button 노출 */
  header .container .fas {
    margin-top: 1rem;
    display: block;
    float: right;
  }

  header .container .navbar {
    display: none;
    background-color: hsl(257, 27%, 26%);
    position: absolute;
    top: 5rem;
    border-radius: 0.5rem;
    width: 88%;
    left: 6%;
    right: 1%;
  }

  /* header 목차 리스트 */
  header .container .navbar li {
    display: block;
    margin-left: 0rem;
    color: white;
    float: unset;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  header .container .login {
    margin: auto;
    border-top: gray 0.1px solid;
    width: 90%;
    float: unset;
  }

  header .container .login button {
    width: 80%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
