header {
  height: 3rem;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 1240px;
}

/* 해더 로고 */
header img {
  margin-top: 0.7rem;
  float: left;
}

/* 리스트 데이터 */
header .serviceList li {
  margin-top: 1rem;
  float: left;
  margin-left: 2rem;
  color: gray;
}

header .serviceList li:hover {
  cursor: pointer;
  color: black;
}

header .login {
  float: right;
}

header .login li {
  margin-top: 1rem;
  float: left;
  margin-right: 2rem;
  color: gray;
}

header .login li:hover {
  cursor: pointer;
  color: black;
}

header .login button {
  margin-top: -1rem;
  width: 5rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border: none;
  font-weight: 700;
}

header .login button:hover {
  color: white;
  cursor: pointer;
}

header .login button:focus {
  outline: none;
}

header > div {
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
